<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/style.css" media="screen" charset="utf-8" />
    </head>
    <body>
        <div class="container">
            <video class="video-large" autoplay></video>
            <div class="users-container" id="users-container">
                <h4>Users</h4>
                <div id="users"></div>
            </div>
        <div>

        <script src="/socket.js"></script>
        <script type="text/javascript" src="/index.js"></script>
    </body>
</html>
